/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { max-width: 100%;}

/* COMMON */

li { list-style: none;}

hr { color: white;}

a {color: white;
    text-decoration: none;}

/* HEADER */
header { 
    background-color: lightblue;
    height: 100px;
    padding-top: 1.5rem;
}

/* NAVIGATION AND MENU-NAV */
.navigation {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: orange;
    border: 1px dashed black;
    height: 50px;
    width: 70%;
    margin: 0 auto;
}

.menu-nav { 
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    gap: 1rem;
    width: 70%;
}


/* HERO */
.hero {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.hero-content {
    background-color: palevioletred;
    border: 1px dashed black;
    min-height: 250px;
    width: 50%;
}

/* SECTIONS AND FIRST SECTION */

/* COMMON STYLE */

.section, .section2, .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

/* LEFT AND RIGHT */
.left-content, .right-content {
    min-height: 300px;
    border: 1px dashed black;
}

.left-content  {
    background-color: lightblue;
    width: 40%;
}

.right-content {
    background-color: pink;
    width: 30%; 
}
/* SECOND-SECTION  */

.section2 {
    background-color: grey;
}

.left-content2, .right-content2 {
    min-height: 300px;
    border: 1px dashed black;
}

.left-content2  {
    background-color: pink;
    width: 30%;
}

.right-content2 {
    background-color: lightblue;
    width: 40%; 

}

/* THIRD-SECTION */

.left-content3, .right-content3 {
    min-height: 300px;
    border: 1px dashed black;
}

.left-content3  {
    background-color: lightblue;
    width: 40%;
}

.right-content3 {
    background-color: pink;
    width: 30%; 
}

/* SECTION FOURTH BIG-SQUARE */

.big {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.big-square {
    background-color: green;
    border: 1px dashed black;
    min-height: 600px;
    width: 70%;
}

/* FOOTER */

/* CONTAINER */

.container {
    background-color: rgba(41, 41, 41, 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    
}

.raw {
    display: flex;
    width: 70%;
}

.col {
    background-color: pink;
    min-height: 500px;
    border: 1px dashed white;
    width: calc(100% / 3)
}
   
.col-one {

    background-color: rgb(37, 79, 219);
    min-height: 500px;
    border: 1px dashed black;
    width: 40%;
    
}

/* FOOTER-NAVIGATION */

.footer-container {
    background-color: rgba(41, 41, 41, 0.92);
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    background-color: lightblue;
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo-footer {
    background-color: pink;
    border: 1px dashed black;
  
    min-height: 20px;
    text-align: center;
}

.button {
    border: 1px dashed black;
    
    min-height: 20px;
}




